* {
  font-family: 'Papyrus', sans-serif;
  text-align: center;
  /* border: 2px solid red; */
}

html {
  background: linear-gradient(#76D7C4, #7FB3D5, #C39BD3);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-size: 1em;
  padding: 2.5%;
  margin-top: 20vh;
}

button:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 0.75rem black);
  cursor: pointer;
}

h1 {
  width: 60vw;
  font-size: 3.25em;
  /* margin:2.5% */
}

h2 {
  width: 60vw;
  margin: 2.5%;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header {
  /* padding: 2.5%; */
  line-height: 75%;
}

a {
  font-size: 1.5em;
  text-align: top;
}

.player-sidebar {
  background-color: white;

  height: 100vh;
  width: 15vw;
}

.view {
  height: 100vh;
  width: 70vw;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.who-will-win {
  font-size: 2.25em;
  padding: 2.5%;
}

.game-options {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  margin: 5%
}

.game-choice {
  background-image: url('assets/paper-button-backdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 15vw;
  height: 15vh;
  margin: 1.5%;
  padding: 1.5%;
  filter: drop-shadow(0 0 0.75rem WhiteSmoke);
  font-size: 1.25em;
}

.game-choice:hover {
   transform: scale(1.25);
   filter: drop-shadow(0 0 0.75rem white);
   cursor: pointer;
}

.game-button{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}

.difficulty-level {
  font-size: 0.75em;
}

.robot-sidebar {
  background-color: white;
  height: 100vh;
  width: 15vw;
}

.hidden {
  display: none;
}

.game-rules {
  font-size: 1.1em;
  background-image: url('assets/paper-button-backdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem WhiteSmoke);
  /* padding: 2.5%; */
  margin: 2.5%
}

.easy {
  width: 40vw;
}

.normal {
  width: 52.5vw;
}

.hard {
  width: 60vw;
}

.mini-monsters {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  width: 50vw
}

.easy-monster-icon:hover{
  transform: scale(1.25);
  cursor: pointer;
}

.normal-monster-icon:hover{
  transform: scale(1.25);
  cursor: pointer;
}

.hard-monster-icon:hover{
  transform: scale(1.25);
  cursor: pointer;
}
